.consultation {
    padding-bottom: 80px;
    &__consultation-block {
        position: relative;
        margin-top: 70px;
        padding-top: 65px;
        padding-bottom: 50px;
        border: 1px solid #c4c4c4;
        width: 100%;
    }
    &__icon-wrapper {
        width: 124px;
        background-color: white;
        position: absolute;
        top: -33%;
        left: 50%;
        transform: translateX(-50%);
    }
}