.feedback-form {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-auto-rows: auto;
    justify-content: center;
    gap: 5px;
    position: relative;
    input {
        width: 270px;
        height: 50px;
        border-radius: 25px;
        padding: 0 15px;
        border: 1px solid #c9c9c9;
    }
    &__btn-wrapper {
        width: 208px;
        background-color: white;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -73px;
    }
    textarea {
        grid-column: 1/4;
        border-radius: 8px;
        padding: 10px 15px;
        resize: none;
    }
    &__button {
        margin-top: 10px;
        grid-column: 2/3;
    }
}