@media (max-width: 1199px) {
    .menu {
        &__item {
            a {
                font-size: 12px;
            }
        }
    }
}

@media (max-width: 991px) {
    .header {
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

@media (max-width: 767px) {
    .header {
        gap: 5px;
        &__logo {
            order: 2;
        }
        &__nav {
            order: 1;
        }
    }
}

@media (max-width: 575px) {
    .header {
        justify-content: flex-start;
        &__logo {
            order: 1;
        }
        &__nav {
            display: none;
        }
    }
}


