.managers {
    padding: 60px 0 80px 0;
    background-image: url('../img/background/bg-managers.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &__title {
        margin-top: 15px;
    }
}