.scheme {
    padding: 50px 0;
    background-color: #f3f3f3;
    &__wrapper {
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 33px;
    }
    &__item {
        width: 260px;
        text-align: center;
    }
    &__item-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 58px;
    }
    &__subtitle {
        margin-top: 10px;
    }
}