.title {
    text-align: center;
    font-weight: 700;
    font-size: 26px;
    color: #2e2e2e;
    text-transform: uppercase;
    &_16px {
        color: $base-color;
        font-size: 16px;
        text-align: unset;
        text-transform: unset;
        &_center {
            text-align: center;
        }
    }
    &_white {
        color: white;
        text-transform: unset;
    }
    &_28px {
        font-size: 28px;
        font-weight: 500;
        text-transform: unset;

    }
}